@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.header {
    overflow-x: hidden;
}

.fyle-logo {
    width: 80px;
    height: 50px;
}

.bg-color {
    background-color: #ffffff;
    overflow-x: hidden;
    max-width: 100vw;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem6 {
    color: #323f4b;
    font-family: "Roboto";
}

.bg-container {
    background-color: #ffffff;
    background-size: cover;
}

.home-section-bg-container {
    background-color: #ffffff;
}

.award-winning-text {
    color: #ff3147;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 500;
}

.home-section-img {
    height: 80vh;
}

.digital-marketing-heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    width: 600px;
}

.home-section-description {
    font-family: "Bree Serif";
    font-size: 16px;
    color: #000000;
    font-weight: normal;
    width: 520px;
}

.contact-us-btn {
    height: 50px;
    width: 160px;
    background-color: #ff3147;
    border-width: 0px;
    border-radius: 2px;
    padding: 2px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.contact-us-btn:hover {
    background-color: #d62839
}

.contact-us-btn:active {
    background-color: #b02130;
}

.contact-us-btn:focus {
    outline: none;
}

.WWD-section-bg-container {
    background-color: #fafafa;
    width: 100vw;
}

.p-size {
    font-size: 19px;
}

.h-size {
    font-size: 38px;
    width: 400px;
}

.wwd-description {
    width: 520px;
    color: #000000;
    font-family: "Bree Serif";
    font-size: 16px;
}

.WCU-section-card1 {
    width: 260px;
    border-radius: 8px;
    cursor: default;
}

.card-style {
    height: 58px;
    width: 58px;
}

.card-heading {
    font-family: "Bree Serif";
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.card-description {
    font-family: "Roboto";
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.OP-img-style {
    height: 75vh;
    width: 50vw;
}

.OP-card {
    background-color: #f6f6f6;
    width: 25vw;
    height: 25vh;
    cursor: pointer;
}

.OP-card-heading {
    font-family: "Bree Serif";
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.OP-card-description {
    font-family: "Roboto";
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.OP-bg-card {
    background-color: #ff3147;
}

.clr {
    color: #ffffff;
}

.EG-section-bg-container {
    background-color: #fafafa;
    width: 100vw;
}

.ocg-size {
    font-size: 40px;
}

.EG-section-card {
    background-color: #ffffff;
    border-radius: 6px;
    width: 180px;
    margin-left: 35px;
    cursor: default;
}

.number-style {
    font-family: "Roboto";
    color: #000000;
    font-size: 45px;
    font-weight: 500;
}

.text-style {
    font-family: "Roboto";
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}

.CF-section-description {
    background-image: url("https://res.cloudinary.com/detqp9dxl/image/upload/v1717323118/Quotemarks-left_ldblxl.png");
    background-repeat: no-repeat;
    height: 45px;
    padding-top: 19px;
    padding-left: 15px;
    width: 90vh;
    font-family: "Roboto";
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.text-style-name {
    font-family: "Roboto";
    font-size: 18px;
    color: #ff3147;
    font-weight: 600;
}

.text-style-add {
    font-family: "Roboto";
    font-size: 18px;
    color: #808080;
    font-weight: 500;
}

.Footer-section-bg-container {
    background-image: url("https://res.cloudinary.com/detqp9dxl/image/upload/v1717326199/NoPath_-_Copy_kwevwj.png");
    background-size: cover;
    height: 30vh;
    width: 100vw;
    background-color: #ff3147;
}

.footer-img {
    height: 40px;
}

.pop-up-heading {
    font-family: "Roboto";
    font-size: 25px;
    color: #2D3142;
    font-weight: bold;
}

.border-none {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #2D3142;
    box-shadow: none !important;
}

.checkbox-desing {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 12px;
    appearance: none;
    -webkit-appearance: none;
    border-style: solid;
    border-color: #FF3366;
    border-width: 3px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 15px;
    color: white;
    padding-top: 3px;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #6F718F99;
}

input[type="checkbox"]:checked {
    background-color: #FF3366;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.checkbox-text-style {
    font-family: "Roboto";
    font-size: 15px;
    color: #616678;
    cursor: pointer;
}

.form-btn-style {
    height: 52px;
    width: 395px;
    font-size: 18px;
    background-color: #FF3366;
    border-width: 0px;
    border-radius: 6px;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
}

.form-btn-style:hover {
    background-color: #d62839
}

.form-btn-style:active {
    background-color: #b02130;
}

.form-btn-style:focus {
    outline: none;
}

.work-email {
    font-family: "Roboto";
    font-size: 15px;
    color: #6F718F99;
    background-color: #ffffff;
}

.WWD-card {
    height: 560px;
    width: 262px;
    margin-left: 25px;
}

.size-of-image {
    width: 100%;
    height: 55%;
}

.hover-bg-container {
    background-color: #FF3147;
    background-size: cover;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 453px;
    border-radius: 10px;
}

.icon-style {
    height: 50px;
    max-height: 50px;
    width: 50px;
    max-width: 50px;
}

.web-develop-para {
    font-family: "Roboto";
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.inner-container {
    text-align: center;
}

.web-develop-description {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.btn-style {
    background-color: #ffffff;
    height: 45px;
    width: 160px;
    border-width: 0px;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 14px;
    color: #FF3147;
    font-weight: bold;
}

.arrow {
    height: 10px;
    width: 5px;
}

/*.slider-part {
    margin-left: 72px;
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 2.0s ease-in-out;
    margin-left: 100px;
}

.slides {
    display: flex;

}

.slide {
    min-width: 23%;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.slide img {
    width: 90%;
    border-radius: 15px;
    object-fit: cover;
}

.dots-container {
    text-align: start;
    padding: 10px 0;
    cursor: pointer;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 5px;
    background-color: #070707;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
    position: relative;
}

.dot::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    height: 15px;
    width: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color 1.0s ease;
}

.active-dot {
    background-color: #FF3366;
}

.active-dot::after {
    border-color: #FF3366;
}*/

.WWD-section-bg-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.WWD-Section-text-container1,
.WWD-Section-text-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.slider-part {
    margin-left: 0;
    /* Aligning with the container */
    padding: 0 1rem;
    /* Ensure the padding is consistent */
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 2.0s ease-in-out;
    margin-left: 0;
    /* Remove extra margin */
}

.slides {
    display: flex;
}

.slide {
    min-width: 23%;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.slide img {
    width: 90%;
    border-radius: 15px;
    object-fit: cover;
}

.dots-container {
    text-align: start;
    padding: 10px 0;
    cursor: pointer;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 5px;
    background-color: #070707;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
    position: relative;
}

.dot::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    height: 15px;
    width: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color 1.0s ease;
}

.active-dot {
    background-color: #FF3366;
}

.active-dot::after {
    border-color: #FF3366;
}